:root {
  --bg-light-color: #ffffff;
  --freerooms-primary: #ef6c00;
  --font-head: "Josefin Sans";
}

body {
  background-color: var(--bg-light-color);
}

h1 {
  margin-top: 12px;
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}
